<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log2SQL Dashboard v0.0.1</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    {% for log_event in log_events %}
    <p>
    {{log_event.id}}
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse_{{log_event.id}}" aria-expanded="false" aria-controls="collapse_{{log_event.id}}">
        {{ log_event.logging_level.name }}
      </button>
    </p>
      <div class="collapse" id="collapse_{{log_event.id}}">
        <div class="card card-body">
          {{ log_event.__dict__ }}
        </div>
      </div>
    {% endfor %}
  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
