<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MagLa Dashboard v0.0.1</title>   

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/treeview/bootstrap-treeview.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet"> 
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
</head>

<body>
<script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="/static/js/jquery/jquery-3.6.0.min.js"></script>
<script src="/static/js/treeview/bootstrap-treeview.js"></script>
</body>
</html>